<div id="metricsResultsPage">
<h1><strong><font color="black">Degree Metrics</font></stong></h1>
<h4><strong>Results</strong></h4>

Degree:<%=Dept::DEPT_OPTIONS.key(Dept.last.dept_id)%><p>
Metric:<%=Metric::METRIC_OPTIONS.key(Metric.last.metric_id)%><p>
<!--Degree:<%=Dept.last.dept_id%><p>-->
<!--And metric:<%=Metric.last.metric_id%><p>-->
<!--<%= form_tag("/metrics/hadoop", method: "get", remote: true) do %>
  <%= submit_tag("Get results(runs script and creates assets/out file)") %>
<% end %> -->
<!--DISPLAY RESULTS HERE-->
<div id="meticsresults">
<!--<%=Metric.last.text %>-->
<%=MetricsController::displaymetric%>
</div>
<!--<%=MetricsController::getArrays%>-->
<!--Chart ?? -->
<p>
</div>



<!--<%=%x(ls ~)%>--> <!-- just testing..-->
