<p id="notice"><%= notice %></p>

<p>
  <strong>Metricname:</strong>
  <%= @metric.metricname %>
</p>

<p>
  <strong>Metric:</strong>
  <%= @metric.metric_id %>
</p>


<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>
