<p id="notice"><%= notice %></p>

<p>
  <strong>Deptname:</strong>
  <%= @dept.deptname %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @dept.dept_id %>
</p>

<%= link_to 'Edit', edit_dept_path(@dept) %> |
<%= link_to 'Back', depts_path %>
